<hr class="col-11 mt-1">

<footer class="my-3 text-center">

    <small class="text-muted">

        <a href="{{ site.author.github }}/{{ site.title }}.github.io/issues/new?title=Report%20a%20Bug" class="animated-link text-dark">Report a bug</a> • 
        <a href="/about" class="animated-link text-dark">About</a> • 
        <a href="mailto:YoussefRaafatNasry@gmail.com" class="animated-link text-dark">Become a Sponsor</a>

        <br>

        <i class="fas fa-code"></i> with <i class="fas fa-heart"></i>
        by <strong>{{ site.author.name }}</strong> | 
        © <script>document.write(new Date().getFullYear())</script>

    </small>

</footer>
