<section class="p-5 bg-light">
    <div class="row justify-content-center">
        <div class="col-lg-4 text-center">
            <h1>RESx</h1>
            <p class="text-muted">
                An unofficial collaborating community for updating
                and organizing learning resources of
                Faculty of Computer and Information Sciences
                at Ain Shams University.
            </p>
            <a href="/about" class="btn btn-dark">Learn More</a>
        </div>
    </div>
</section>