
<!-- Check if there are Sponsors -->
{% assign isThereSponsors = false %}
{% for sponsor in site.sponsors %}
    {% if sponsor.published %}
        {% assign isThereSponsors = true %}
        {% break %}
    {% endif %}
{% endfor %}


{% if isThereSponsors %}
<div class="row justify-content-center p-5 bg-dark text-light">

    <div class="col-12 mb-4 text-center">
        <h2>Our Sponsors</h2>
    </div>

    {% for sponsor in site.sponsors %}
        <div class="col-lg-1 col-6 my-3 text-center">
            <a href="{{ sponsor.link }}">
                <img src="{{ sponsor.image }}" class="figure-img img-fluid rounded-circle" alt="{{ sponsor.name }}">
            </a>
            <h4>{{ sponsor.name }}</h4>
        </div>
    {% endfor %}

</div>
{% endif %}