{% if site.data.sponsors | size != 0 %}
<div class="row justify-content-center p-5 bg-dark text-light">

    <div class="col-12 mb-4 text-center">
        <h2 class="animated-link">Our Sponsors</h2>
    </div>

    {% for sponsor in site.data.sponsors %}
        <div class="col-lg-1 col-6 my-3 text-center wow animated fadeIn" data-wow-delay=".1s">
            <a href="{{ sponsor.link }}">
                <img src="{{ sponsor.image }}" class="figure-img img-fluid rounded-circle" alt="{{ sponsor.name }}">
            </a>
            <h4>{{ sponsor.name }}</h4>
        </div>
    {% endfor %}

</div>
{% endif %}