// Cards Styling
.card:hover {
    box-shadow: -2px 8px 40px -12px rgba(0, 0, 0, 0.32);
    -moz-box-shadow: -2px 8px 40px -12px rgba(0, 0, 0, 0.32);
    -webkit-box-shadow: -2px 8px 40px -12px rgba(0, 0, 0, 0.32);
}

.no-decoration {
    text-decoration: none;
}

// Team Member
.chip {
    display: inline-block;
    padding: 0 25px;
    height: 50px;
    border-radius: 25px;
}

.chip .chip-name {
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    line-height: 36px;
}
  
.chip .chip-img {
    float: left;
    margin: 0 10px 0 -25px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.chip .chip-role {
    margin-top: -20px;
    font-size: 12px;
}


// Animated Link
.animated-link {
    display: inline-block;
    text-decoration: none!important;
}

.animated-link::after {
    content: '';
    display: block;
    width: 0;
    margin-top: -2px;
    height: .15em;
    background: #2962FF; // default: blue
    transition: width .35s;
}

.animated-link-black::after {
    background: #343a40;
}

.animated-link-white::after {
    background: #ffffff;
}

.animated-link-red::after {
    background: #dc3545;
}

.animated-link:hover::after {
    width: 100%;
}