---
layout: default
permalink: /courses
---

<div class="card-columns">
    {% for course in site.courses %}
    <div class="card">
        {% if course.image %}
        <img class="card-img-top" src="{{ course.image }}" alt="Card image cap">
        {% endif %}
        <div class="card-body">
            <h5 class="card-title">{{ course.title }}</h5>
            <p class="card-text">{{ course.description | truncatewords: 15 }}</p>
            <a href="{{ course.url }}" class="btn btn-primary">View More</a>
        </div>
    </div>
    {% endfor %}
</div>