---
layout: default
---

{% capture course_repo %} 
{{site.author.github}}/{{ page.title | replace: " ", "-" | downcase }}
{% endcapture %} 

<h2> {{ page.title }} </h2>
<span class="badge badge-dark"> {{ page.number }} </span>

{% for category in page.categories %}
    
    <!-- Match category style with its parent -->
    {% for category_parent in site.courses-categories %}

        <!-- Get Category name as in filename -->
        {% assign category_parent_name = category_parent.path | split: "/" %}
        {% assign category_parent_name = category_parent_name[1] | split: "." %}
        {% assign category_parent_name = category_parent_name[0] %}

        <!-- Get Category Style -->
        {% if category_parent_name == category %}
            {% assign category_style = category_parent.style %}
        {% endif %}

    {% endfor %}

<a href="/courses/{{ category }}" class="badge badge-pill badge-{{ category_style }}">{{ category }}</a>

{% endfor %}

<a href="{{ course_repo }}" class="text-dark"><i class="fab fa-github"></i></a><hr>
<p class="my-4"> {{ page.description }} </p>

<div class="container">
    <div class="row">
        {% for item in page.items %}
        <a href="{{ course_repo }}/tree/master/{{ item.name }}" class="col-lg-6 btn btn-{{ item.style }} py-4 rounded-0">{{ item.name }}</a>
        {% endfor %}
    </div>
</div>
